#mainContainer
{
	/*
	display: -webkit-box;
	*/
	display: block;
	text-align: center;
	overflow:auto;
	height:70%;
    border-color: black;
	border-style: solid;
}
        
.Braille-container
{
	width: 90px;
	height: 135px;
	background-color: white;
	margin-left: 1.938px;
    margin-right: 1.938px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
	/* top: 60px; 
	margin: auto;*/

/* smaller tiles and dots
	width: 76px;
    height: 115px;
    border-radius: 17px;
       
*/




}
.Braille-dot
{
	background-color: #ffffff;
	height: 25px;
	width: 25px;
	border-radius: 30px;
	float:left;
	margin: 7px;
	border-style: solid;

	/* smaller tiles and dots
	height: 20px;
    width: 20px;
    margin: 6px;

	*/
} 

#textOutput
{
	border-style: solid;
	height: 86px;
    width: 100%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	height: 86px;

   
}
/*
#textOutput h1
{
}
*/
.button
{
	background-color: #000000;
	color: #ffffff;
	border-radius: 1000px;
	height: 100px;
	width: 100px;
	text-align: center;
	margin: auto;
	user-select: none;
	font-size: 85px;
	border-style: none;

}
#buttonSpacer
{
	height: 110px;
    width: 110px;
    margin: auto;
    display: flex;

}
/*
.button:hover
{
	height: 100px;
	width: 100px;
	border-style: none;
	font-size: 100px;
}
*/
.button:active
{
	background-color: #167715e6;
	/*
	border-style: outset;
	height: 120px;
	width: 120px;
	border-style: none;
	font-size: 100px;
	*/
}

#buttonContainer
{
	display: flex;

}

.BrailleLayer
{
	height: 155px;
	background-color:#ffffff;
	width:100%;
	display: -webkit-box;
	
}
#tbInput
{
	width: 100%;
	margin:1px;
	height: 50px;
}
#btnSubmit
{
	margin-left: 40%;
	height:75px;
	width:250px;

}