#mainContainer
{
	width: 142px;
	height: 215px;
	border-radius: 35px;
	margin-left: 46%;
	margin-top: 10%;
	border-style: solid;
	border-color: #334142;
}
        
#Braille-container
{
	width: 140px;
	height: 210px;
	margin-left: 1%;
	margin-top: 1%;
	/* top: 60px; */
}
.Braille-dot
{
	background-color: #ffffff;
	height: 50px;
	width: 50px;
	border-radius: 360px;
	float:left;
	margin: 7px;
	border-style: solid;
} 

#textOutput
{
	border-style: solid;
    height: 9%;
    width: 20%;
    margin-top: 50px;
    margin-left: 40%;
    text-align: center;
   
}
#textOutput h1
{
