#mainContainer
{
	width:400px;
	height: 550px;
	background-color: #c3c3c324;
	border-radius: 50px;
	margin-left: 40%;
	margin-top: 10%;
	border-style: solid;
	border-color: cadetblue;
}
        
#Braille-container
{
	width: 252px;
	height: 350px;
	margin-left: 80px;
	margin-top: 40px;
	/* top: 60px; */
}
.Braille-dot
{
	background-color: #9e9e9e52;
	height:100px;
	width: 100px;
	border-radius: 360px;
	float:left;
	margin: 10px;
	border-style: solid;
} 

#textOutput
{

height: 15%;

width: 74%;

//background-color: green;

margin-top: 50px;

margin-left: 13%;

/* bottom: 10px; */
}